{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <p><a href="{% url 'admins:agency-list' %}"><i class="fa fa-arrow-left"></i> Go Back</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {# IMAGE DIV #}
                    <div class="text-center">
                        {% if agency.cover_image %}
                            <img class="rounded-circle" src="{{ agency.cover_image.url }}" height="150px"
                                 alt="user-image">
                        {% else %}
                            <img class="rounded-circle" src="{% static 'core/images/base/no-user.png' %}"
                                 height="150px" alt="no-user-image">
                        {% endif %}
                    </div>

                    {# NAME AND OTHER #}
                    <div class="text-center mt-2">
                        <h5 class="mb-0">
                            {{ object.name }}
                            {% if user.is_active %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% endif %}
                        </h5>
                        <p class="fw-light text-muted mt-3 mb-0">registered on > {{ user.date_joined }}</p>
                    </div>

                    <div class="row mt-4">
                         <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user"></i></p>
                            <p class="mb-0 text-center h5">User</p>
                            <p class="mb-0 text-center">{{ object.owner.username }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-email"></i></p>
                            <p class="mb-0 text-center h5">Email</p>
                            <p class="mb-0 text-center">{{ object.contact_email }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-phone"></i></p>
                            <p class="mb-0 text-center h5">Phone</p>
                            <p class="mb-0 text-center">{{ object.contact_phone }}</p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-shield-account"></i></p>
                            <p class="mb-0 text-center h5">Access Level</p>
                            <p class="mb-0 text-center">
                                <b>
                                    {% if user.is_superuser and user.is_staff %}
                                        Admin
                                    {% elif user.is_staff %}
                                        Staff
                                    {% else %}
                                        User
                                    {% endif %}
                                </b>
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-security"></i></p>
                            <p class="mb-0 text-center h5">Last Login</p>
                            <p class="mb-0 text-center">{{ object.owner.last_login }}</p>
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-edit"></i></p>
                            <p class="mb-0 text-center h5">Profile</p>
                            <p class="mb-0 text-center">
                                <a href="{% url 'admins:agency-update' agency.pk %}">Update</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

