{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <p><a href="{% url 'admins:vehicle-list' %}"><i class="fa fa-arrow-left"></i> Go Back</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {# IMAGE DIV #}
                    <div class="text-center">
                        {% if vehicle.image %}
                            <img class="rounded-circle" src="{{ vehicle.image.url }}" height="150px"
                                 alt="user-image">
                        {% else %}
                            <img class="rounded-circle" src="{% static 'core/images/base/no-user.png' %}"
                                 height="150px" alt="no-user-image">
                        {% endif %}
                    </div>

                    {# NAME AND OTHER #}
                    <div class="text-center mt-2">
                        <h5 class="mb-0">
                            {{vehicle.registration_number}}
                            {% if vehicle.is_active %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% endif %}
                        </h5>
                        <p class="fw-light text-muted mt-3 mb-0">registered on > {{ vehicle.created_at }}</p>
                    </div>

                    <div class="row mt-4">
                         <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user"></i></p>
                            <p class="mb-0 text-center h5">Agency Name</p>
                            <p class="mb-0 text-center">{{ vehicle.agency.name }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-email"></i></p>
                            <p class="mb-0 text-center h5">Reg No</p>
                            <p class="mb-0 text-center">{{ vehicle.registration_number}}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-phone"></i></p>
                            <p class="mb-0 text-center h5">Model</p>
                            <p class="mb-0 text-center">{{ vehicle.model }}</p>
                        </div>
                        <div class="col text-center">
                            <a href="{% url 'website:car-details' vehicle.id %}">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-shield-account"></i></p>
                            <p class="mb-0 text-center h5">Capacity</p>
                            <p class="mb-0 text-center">
                                <b>
                                   {{vehicle.capacity}}
                                </b>
                            </p>
                            </a>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-security"></i></p>
                            <p class="mb-0 text-center h5">Status</p>
                            <p class="mb-0 text-center">

                                {% if vehicle.is_active %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-check-circle text-danger"></i>

                            {% endif %}

                            </p>
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-edit"></i></p>
                            <p class="mb-0 text-center h5">Profile</p>
                            <p class="mb-0 text-center">
                                <a href="{% url 'admins:vehicle-update' vehicle.pk %}">Update</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

