{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
Vehicle List
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <form method="get">
            <div class="input-group mb-3">
                {{ vehicle_filter_form }}
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive">
                    <table class="table table-borderless">
                        {% if vehicle_list %}
                        <thead class="border-bottom">
                        <tr>
                            <th>ID</th>
                            <th>Agency Name</th>
                            <th>Reg No</th>
                            <th>Model</th>
                            <th>
                                Capacity
                            </th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for object in vehicle_list %}
                        <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.agency.name }}</td>
                            <td>{{ object.registration_number }}</td>
                            <td>{{ object.model }}</td>
                            <td>
                                {{ object.capacity }}
                            </td>
                            <td>
                                <a href="{% url 'admins:vehicle-detail' object.pk %}"
                                   class="text-decoration-none"><i
                                        class="mdi mdi-eye icon-sm"></i> View
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                        {% else %}
                        <th class="text-danger">No users data available.</th>
                        {% endif %}
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="mt-4">
            <ul class="pagination">
                {% if user_list.has_previous %}
                <li>
                            <span>
                                <a href="{% relative_url user_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                </li>
                {% endif %}
                <li class="">
                    <span>Page {{ user_list.number }} of {{ user_list.paginator.num_pages }}.</span>
                </li>
                {% if user_list.has_next %}
                <li>
                            <span>
                                <a href="{% relative_url user_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block js_code %}
<script>
    $(document).ready(function () {

        $('label').hide();
        $('input').addClass('form-control');
        $('select').addClass('form-control');

    });
</script>
{% endblock %}


