{% extends 'website/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock %}


{% block content %}
{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}"
     style="background-image: url(&quot;assets/images/page-title-bg-4.jpg' %}&quot;); background-position: center center; display: block;">
    <div class="container">
        <div class="content">
            <h2>Sign up</h2>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index.html">Home</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active opacity-75">Sign up</li>
            </ul>
        </div>
    </div>
</div>

{#----------Steps Area------------#}
<div class="authentication-area ptb-100">
        <div class="container">
            <div class="auth-form border">
                <form method="post">
                    {% csrf_token %}
                    <div class="title">
                        <h4 class="mb-20">Signup</h4>
                    </div>
                    {{form|crispy}}
                    <div class="row align-items-center mb-20">
                        <div class="col-sm-8">
                            <div class="link go-signup">
                                Already have an account?
                                <a href="{% url 'account_login'%}" target="_self" title="Link"> Click Here</a> to Login
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary w-100"> Signup </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


