{% load static %}

<footer class="footer-area bg-img bg-s-cover" data-bg-image="{% static 'assets/images/category-bg-1.jpg' %}"
        style="background-image: url(&quot;assets/images/footer-bg-2.jpg&quot;); background-position: center center; display: block;">
    <div class="overlay opacity-80"></div>
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">

                <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget aos-init" data-aos="fade-up">
                        <div class="navbar-brand">
                            <a href="{% url 'website:home' %}">
                                <img class="lazyload" src="{% static 'assets/images/logo/logo-2.png' %}"
                                     data-src="{% static 'assets/images/logo/logo-2.png' %}" alt="Logo">
                            </a>
                        </div>
                        <p>Unlocking Seamless Journeys: Where Convenience Meets Innovation.</p>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-5">
                    <div class="footer-widget aos-init" data-aos="fade-up">
                        <h4>Contact Us</h4>
                        <ul class="info-list">
                            <li>
                                <i class="fal fa-map-marker-alt"></i>
                                <span>{{app.address}}</span>
                            </li>
                            <li>
                                <i class="fal fa-headset"></i>
                                <a href="tel:{{app.contact_phone1}}">{{app.contact_phone1}}</a>
                            </li>
                            <li>
                                <i class="fal fa-envelope"></i>
                                <a href="mailto::{{app.contact_email1}}">{{app.contact_email1}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>