{% extends 'agency/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD
{% endblock %}


{% block content %}
<div class="dashboard-content-wrap">

        {#-------Setting background-------#}
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">Settings</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="{% url 'website:home' %}" class="text-white">Home</a></li>
                                <li>Dashboard</li>
                                <li>Settings</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#-------User Setting-------#}
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <h3 class="title">Profile Setting</h3>
                            </div>
                            <div class="form-content">
                                <div class="contact-form-action">
                                    <form method="post" enctype="multipart/form-data" class="MultiFile-intercepted">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.name|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.logo|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.cover_image|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.tagline|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.description|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.contact_email|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.company_registration_number|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.vat_number|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.address|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.contact_phone|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.company_postal_code|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.company_city|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.company_state|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.website|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.instagram|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.facebook|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <div class="form-group">
                                                       {{form.twitter|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="btn-box">
                                                    <button class="theme-btn" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top mt-4"></div>

            </div>
        </div>
    </div>
{% endblock %}

{% block external_js %}
<script>
  $(document).ready(function () {
            $('input[type=email], input[type=password]').addClass("form-control form-control border mb-2");
            $('input[type=email], input[type=password]').css("border-radius", '15px');
        });
</script>

{% endblock %}