{% extends 'agency/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD
{% endblock %}


{% block content %}
<div class="dashboard-content-wrap">

    {# BACKGROUND #}
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">Invoices</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="{% url 'website:home' %}" class="text-white">Home</a></li>
                            <li>Dashboard</li>
                            <li>Finance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# LIST AREA #}
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-box">
                        <div class="form-title-wrap">
                        </div>

                        <div class="form-content">

                            <div class="table-form table-responsive">
                                <div class="row">
                                    <div class="col-12">
                                        <form method="get">
                                            <div class="input-group mb-3">
                                                {% for field in booking_filter_form %}
                                                <div class="form-group mr-2">
                                                    {{ field}}
                                                </div>
                                                {% endfor %}
                                                <div class="">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa fa-search"></i> Search
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <table class="table">
                                    {% if booking_list %}
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Seat No</th>
                                        <th>Price</th>
                                        <th>Schedule</th>
                                        <th>Payment</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in booking_list %}
                                    <tr>
                                        <th scope="row">{{ object.id }}</th>
                                        <td>
                                            <div class="table-content">
                                                <h3 class="title">{{object.user.username}}</h3>
                                            </div>
                                        </td>
                                        <td>{{ object.seat.seat_number }}</td>
                                        <td>{{ object.schedule.price }}</td>
                                        <td>{{object.schedule.departure_time }}</td>
                                        {% if object.payment_status %}
                                        <td><span class="badge badge-success text-white py-1 px-2">Paid</span></td>
                                        {% else %}
                                        <td><span class="badge badge-warning text-white py-1 px-2">Pending</span></td>
                                        {% endif %}
                                        <td>{{ object.booking_date }}</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                    {% else %}
                                    <th class="text-danger">No booking data available.</th>
                                    {% endif %}

                                </table>
                            </div>
                        </div>
                    </div><!-- end form-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->

            <div class="border-top mt-5"></div>


        </div><!-- end container-fluid -->
    </div>
</div>
{% endblock %}