{% extends 'website/base.html' %}
{% load static %}

{% block title %}
About-Us
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}"
     style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
    <div class="container">
        <div class="content">
            <h2>About Us</h2>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index.html">Home</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active opacity-75">About</li>
            </ul>
        </div>
    </div>
</div>

{#----------Steps Area------------#}
<section class="about-area pt-100 pb-60">
    <div class="container">
        <div class="row gx-xl-5 align-items-center">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                <div class="image mb-40">
                    <img class="blur-up lazyloaded" src="{% static 'assets/images/about.png' %}"
                         data-src="{% static 'assets/images/about.png' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="content-title mb-40">
                    <span class="subtitle mb-10 color-primary">Change The Look of Your Buss</span>
                    <h2 class="title mb-25">
                        PassangerXpress Provides an Extensive Inventory of Vehicles.
                        <span>.</span>
                    </h2>
                    <div class="text">
                        <p>
                            Welcome to PassengerXpress, your premier online destination for optimizing vehicle
                            ticketing experiences. Whether you're
                            a passenger looking for convenient and transparent travel solutions, our platform is
                            designed to meet your ticketing needs seamlessly.
                        </p>
                        <p>
                            At PassengerXpress, we recognize the challenges faced by stations in managing vehicle
                            ticketing processes. Our user-friendly interface empowers  For passengers, we offer a smooth ticket purchasing experience,
                            transparent fare information, and a reliable feedback system to enhance overall
                            satisfaction.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{#----------Browse Category------------#}
<section class="steps-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-center mb-50 aos-init aos-animate" data-aos="fade-up">
                    <span class="subtitle mb-10">How It Works</span>
                    <h2 class="title">Passanger Xpress <span>03 Steps</span></h2>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
                        <div class="card align-items-center text-center radius-md p-25 mb-30">
                            <div class="card-icon radius-md mb-25">
                                <i class="ico-truck"></i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title mb-20">Search Your Car</h4>
                                <p class="card-text lc-3">
                                    Locate your ideal seat in our vehicles effortlessly. Use our user-friendly search
                                    feature to find and reserve the perfect spot for a comfortable and enjoyable
                                    journey. </p>
                            </div>
                            <span class="text-stroke h2">01</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="card align-items-center text-center radius-md p-25 mb-30">
                            <div class="card-icon radius-md mb-25">
                                <i class="ico-dollar-mail"></i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title mb-20">Find your Comfort Seat</h4>
                                <p class="card-text lc-3">
                                    Discover the perfect seating arrangement for your journey. Choose from a range of
                                    comfortable seats tailored to your preferences, ensuring a relaxing and enjoyable
                                    travel experience.
                                </p>
                            </div>
                            <span class="text-stroke h2">02</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                        <div class="card align-items-center text-center radius-md p-25 mb-30">
                            <div class="card-icon radius-md mb-25">
                                <i class="ico-dollar-note"></i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title mb-20">CheckOut</h4>
                                <p class="card-text lc-3">
                                    Effortlessly complete your booking and payment process. Streamlined checkout for a
                                    seamless experience, allowing you to confirm your travel plans with ease.
                                </p>
                            </div>
                            <span class="text-stroke h2">03</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}