{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Car-Details
{% endblock %}
{% block content %}

{% block css%}
<style>
    /* Style the row of seats */
   .seat-container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       border: 1px solid #ddd;
       padding: 10px;
       border-radius: 8px;
       background-color: #f5f5f5;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   /* Style the seat checkboxes */
   .seat-checkbox {
       width: 20px;
       height: 20px;
   }

   /* Style the seat labels */
   .seat-label {
       font-size: 16px;
       font-weight: bold;
       color: #333;
   }
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


        .coach-run-ticket {
      width: 300px;
      height: 150px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }

    .coach-run-ticket-header {
      padding: 10px;
      background-color: #008CBA;
      color: #fff;
      text-align: center;
    }

    .coach-run-ticket-header h3 {
      margin: 0;
    }

    .coach-run-ticket-body {
      padding: 10px;
    }

    .coach-run-ticket-body p {
      margin-bottom: 5px;
    }

    .coach-run-ticket-footer {
      padding: 10px;
      text-align: center;
    }

    .coach-run-ticket-footer p {
      margin-bottom: 0;
    }

    .coach-run-ticket-checkbox {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
    }

    .coach-run-ticket-checkbox:checked {
      background-color: green;
    }

    .coach-run-ticket-checkbox:checked:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
</style>
{% endblock css%}


{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}"
     style="background-image: url(&quot;assets/images/page-title-bg-4.jpg' %}&quot;); background-position: center center; display: block;">
    <div class="container">
        <div class="content">
            <h2>Car Details</h2>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index.html">Home</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active opacity-75">Car Details</li>
            </ul>
        </div>
    </div>
</div>

{#----------Steps Area------------#}
<div class="car-details-area pt-100 pb-60">
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-12">
                <div class="product-single-gallery mb-40">
                    <div class="swiper product-single-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-aacbbfa8ca779b29" aria-live="off"
                             style="transform: translate3d(-2088px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                 data-swiper-slide-index="3" role="group" aria-label="4 / 4" style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-4.jpg' %}" class="lightbox-single">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" role="group" aria-label="1 / 4"
                                 style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-1.jpg' %}" class="lightbox-single">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" role="group"
                                 aria-label="2 / 4" style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-2.jpg' %}" class="lightbox-single">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-active"
                                 data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-3.jpg' %}" class="lightbox-single">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3" role="group"
                                 aria-label="4 / 4" style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-4.jpg' %}" class="lightbox-single">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                                 aria-label="1 / 4" style="width: 696px;">
                                <figure class="lazy-container ratio ratio-5-3">
                                    <a href="assets/images/product/pro-lg-1.jpg' %}" class="lightbox-single">
                                        <img class=" lazyloading"
                                             src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             alt="product image">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

                    <div class="product-thumb">
                        <div class="swiper slider-thumbnails swiper-initialized swiper-horizontal swiper-pointer-events swiper-thumbs">
                            <div class="swiper-wrapper" id="swiper-wrapper-48766dda2181ba310" aria-live="polite"
                                 style="transform: translate3d(-711px, 0px, 0px); transition-duration: 0ms;">
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                     role="group" aria-label="1 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="0">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                     role="group" aria-label="2 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="1">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-thumb-active" role="group"
                                     aria-label="3 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="2">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" role="group"
                                     aria-label="4 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="3">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group"
                                     aria-label="1 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="0">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group"
                                     aria-label="2 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="1">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-thumb-active" role="group"
                                     aria-label="3 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="2">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-duplicate-prev" role="group"
                                     aria-label="4 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="3">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                     role="group" aria-label="1 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="0">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-1.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                     role="group" aria-label="2 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="1">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-2.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-thumb-active" role="group"
                                     aria-label="3 / 4" style="width: 162.75px; margin-right: 15px;"
                                     data-swiper-slide-index="2">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-3.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="4 / 4"
                                     style="width: 162.75px; margin-right: 15px;" data-swiper-slide-index="3">
                                    <div class="thumbnail-img lazy-container ratio ratio-5-3">
                                        <img class=" ls-is-cached lazyloaded"
                                             src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             data-src="{% static 'assets/images/product/pro-lg-4.jpg' %}"
                                             alt="product image">
                                    </div>
                                </div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <!-- Slider navigation buttons -->
                        <div class="slider-navigation">
                            <button type="button" title="Slide prev" class="slider-btn slider-btn-prev radius-0"
                                    tabindex="0" aria-label="Previous slide"
                                    aria-controls="swiper-wrapper-aacbbfa8ca779b29">
                                <i class="fal fa-angle-left"></i>
                            </button>
                            <button type="button" title="Slide next" class="slider-btn slider-btn-next radius-0"
                                    tabindex="0" aria-label="Next slide"
                                    aria-controls="swiper-wrapper-aacbbfa8ca779b29">
                                <i class="fal fa-angle-right"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="row m-5">
                    {% for i in '123456789' %}

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="seat-container">
                                    <p class="seat-label">Seat No</p>
                                    <p class="ml-2">{{ i }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="seat-container">
                                    <input type="checkbox" class="seat-checkbox ml-3"
                                           data-seat-number="{{ i }}">
                                </div>
                            </div>
                        </div>

                    </div>

                    {% endfor %}
                </div>

                <div class="product-single-details">

                    <!-- Product-area start -->
                    <div class="product-area pt-60">
                        <div class="section-title title-inline mb-30 aos-init" data-aos="fade-up">
                            <h3 class="title mb-20">More From Lamborghini</h3>
                        </div>

                        <div class="row">

                            {% for i in '123'%}
                            <div class="col-lg-4">
                                <div class="product-default border p-15 mb-25">
                                    <figure class="product-img mb-15">
                                        <a href="{% url 'website:car-details' 1 %}" target="_self" title="Link"
                                           class="lazy-container ratio ratio-2-3">
                                            <img class=" ls-is-cached lazyloaded"
                                                 src="{% static 'assets/images/category/cat-11.png' %}"
                                                 data-src="assets/images/product/pro-1.png" alt="Product">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <span class="product-category font-xsm">Couple Car</span>
                                        <div class="d-flex align-items-center justify-content-between mb-15">
                                            <h5 class="product-title lc-1 mb-0"><a
                                                    href="{% url 'website:car-details' 1 %}"
                                                    target="_self" title="Link">Aurora
                                                Starlight Elite</a></h5>
                                            <a href="wishlist.html" class="btn btn-icon" data-tooltip="tooltip"
                                               data-bs-placement="right" aria-label="Save to Wishlist"
                                               data-bs-original-title="Save to Wishlist">
                                                <i class="fal fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="author mb-15">
                                            <a href="car-grid.html" target="_self" title="link">
                                                <img class="blur-up ls-is-cached lazyloaded"
                                                     src="{% static 'assets/images/avatar-1.jpg' %}"
                                                     data-src="assets/images/avatar-1.jpg" alt="Image">
                                                <span>By Nikon</span>
                                            </a>
                                        </div>
                                        <ul class="product-icon-list mb-15 list-unstyled">
                                            <li class="icon-start">
                                                <i class="fal fa-tachometer-alt"></i>
                                                <span>Automatic</span>
                                            </li>
                                            <li class="icon-start">
                                                <i class="fal fa-tire"></i>
                                                <span>3WD</span>
                                            </li>
                                            <li class="icon-start">
                                                <i class="fal fa-map-marked-alt"></i>
                                                <span>1,000</span>
                                            </li>
                                        </ul>
                                        <div class="product-price">
                                            <h6 class="new-price">$25000.00</h6>
                                            <span class="old-price font-sm">$26000.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block external_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var checkboxes = document.querySelectorAll('.seat-checkbox');

      checkboxes.forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
              if (this.checked) {
                  checkboxes.forEach(function(otherCheckbox) {
                      if (otherCheckbox !== checkbox) {
                          otherCheckbox.checked = false;
                      }
                  });

                  // Change background color of the checkbox to green
                  checkbox.style.backgroundColor = 'green';

                  checkboxes.forEach(function(otherCheckbox) {
                      if (otherCheckbox !== checkbox && otherCheckbox.checked) {
                          otherCheckbox.style.backgroundColor = '';
                      }
                  });
              } else {
                  // If the current checkbox is unchecked, reset background color
                  checkbox.style.backgroundColor = '';
              }
          });
      });
  });


    document.addEventListener("DOMContentLoaded", function() {
    // Your existing JavaScript code

    // Get the modal and the button that opens it
    var modal = document.getElementById('bookingModal');
    var btn = document.getElementById('bookNowButton');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName('close')[0];

    // When the user clicks the button, open the modal
    btn.addEventListener('click', function() {
        modal.style.display = 'block';
        // Populate the bookingInfo div with relevant information
        document.getElementById('bookingInfo').innerHTML = 'Booking details go here...';
    });

    // When the user clicks on <span> (x), close the modal
    span.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener('click', function(event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });
});

</script>

{% endblock %}