{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Cars List
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}" style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
        <div class="container">
            <div class="content">
                <h2>Car List</h2>
                <ul class="list-unstyled">
                    <li class="d-inline"><a href="index.html">Home</a></li>
                    <li class="d-inline">/</li>
                    <li class="d-inline active opacity-75">Car Lists</li>
                </ul>
            </div>
        </div>
    </div>

{#----------Steps Area------------#}
<div class="car-grid-area pt-100 pb-60">
        <div class="container">
            <div class="row gx-xl-5">
                <div class="col-lg-12 col-xl-12">
                    <div class="product-sort-area aos-init aos-animate" data-aos="fade-up">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <h4 class="mb-20">400+ Cars Available</h4>
                            </div>
                            <div class="col-4 d-lg-none">
                                <button class="btn btn-sm btn-outline icon-end radius-sm mb-20" type="button" data-bs-toggle="offcanvas" data-bs-target="#widgetOffcanvas" aria-controls="widgetOffcanvas">
                                    Filter <i class="fal fa-filter"></i>
                                </button>
                            </div>
                            <div class="col-8 col-lg-6">
                                <ul class="product-sort-list list-unstyled mb-20">
                                    <li class="item me-4">
                                        <div class="sort-item d-flex align-items-center">
                                            <label class="me-2 font-sm">Sort By:</label>
                                            <select name="type" class="nice-select right color-dark" style="display: none;">
                                                <option value="high">Trending</option>
                                                <option value="low">Newest</option>
                                                <option value="New">Popular</option>
                                                <option value="Old">Used</option>
                                            </select><div class="nice-select right color-dark" tabindex="0"><span class="current">Trending</span><ul class="list"><li data-value="high" class="option selected">Trending</li><li data-value="low" class="option">Newest</li><li data-value="New" class="option">Popular</li><li data-value="Old" class="option">Used</li></ul></div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="car-grid.html" class="btn-icon active" data-tooltip="tooltip" data-bs-placement="top" aria-label="Grid View" data-bs-original-title="Grid View">
                                            <i class="fas fa-th-large"></i>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="car-list.html" class="btn-icon" data-tooltip="tooltip" data-bs-placement="top" aria-label="List View" data-bs-original-title="List View">
                                            <i class="fas fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Products -->
                    <div class="row">

                        {% for i in '123456' %}
                        <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
                            <div class="product-default border p-15 mb-25">
                                <figure class="product-img mb-15">
                                    <a href="{% url 'website:car-details' 1 %}" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                        <img class=" ls-is-cached lazyloaded" src="{% static 'assets/images/category/cat-9.png' %}" data-src="{% static 'assets/images/category/cat-9.png' %}" alt="Product">
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <span class="product-category font-xsm">Couple Car</span>
                                    <div class="d-flex align-items-center justify-content-between mb-15">
                                        <h5 class="product-title lc-1 mb-0"><a href="{% url 'website:car-details' 1 %}" target="_self" title="Link">Aurora Starlight Elite</a></h5>
                                        <a href="wishlist.html" class="btn btn-icon" data-tooltip="tooltip" data-bs-placement="right" aria-label="Save to Wishlist" data-bs-original-title="Save to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="author mb-15">
                                        <a href="car-grid.html" target="_self" title="link">
                                            <img class="blur-up ls-is-cached lazyloaded" src="{% static 'assets/images/avatar-1.jpg' %}" data-src="{% static 'assets/images/avatar-1.jpg' %}" alt="Image">
                                            <span>By Nikon</span>
                                        </a>
                                    </div>
                                    <ul class="product-icon-list mb-15 list-unstyled">
                                        <li class="icon-start">
                                            <i class="fal fa-tachometer-alt"></i>
                                            <span>Automatic</span>
                                        </li>
                                        <li class="icon-start">
                                            <i class="fal fa-tire"></i>
                                            <span>3WD</span>
                                        </li>
                                        <li class="icon-start">
                                            <i class="fal fa-map-marked-alt"></i>
                                            <span>1,000</span>
                                        </li>
                                    </ul>
                                    <div class="product-price">
                                        <h6 class="new-price">$25000.00</h6>
                                        <span class="old-price font-sm">$26000.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- product-default -->
                        </div>
                        {% endfor %}

                    </div>
                    <div class="pagination mb-40 justify-content-center aos-init" data-aos="fade-up">
                        <a href="car-grid.html" class="page-numbers radius-0 prev">Prev</a>
                        <span class="page-numbers radius-0 current" aria-current="page">1</span>
                        <a href="car-grid.html" class="page-numbers radius-0">2</a>
                        <a href="car-grid.html" class="page-numbers radius-0">3</a>
                        <a href="car-grid.html" class="page-numbers radius-0">4</a>
                        <a href="car-grid.html" class="page-numbers radius-0 next">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}