{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Vehicle List
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}"
     style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
    <div class="container">
        <div class="content">
            <h2>Vehicle List</h2>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index.html">Home</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active opacity-75">Vehicle Lists</li>
            </ul>
        </div>
    </div>
</div>

{#----------Steps Area------------#}
<div class="car-grid-area pt-100 pb-60">
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-12 col-xl-12">
                <div class="product-sort-area aos-init aos-animate" data-aos="fade-up">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h4 class="mb-20">Vehicle Available</h4>
                        </div>
                        <div class="col-4 d-lg-none">
                            <button class="btn btn-sm btn-outline icon-end radius-sm mb-20" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#widgetOffcanvas"
                                    aria-controls="widgetOffcanvas">
                                Filter <i class="fal fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-8 col-lg-6">
                            <ul class="product-sort-list list-unstyled mb-20">
                                <li class="item me-4">
                                    <div class="sort-item d-flex align-items-center">
                                        <label class="me-2 font-sm">Sort By:</label>
                                        <select name="type" class="nice-select right color-dark" style="display: none;">
                                            <option value="high">Trending</option>
                                            <option value="low">Newest</option>
                                            <option value="New">Popular</option>
                                            <option value="Old">Used</option>
                                        </select>
                                        <div class="nice-select right color-dark" tabindex="0"><span class="current">Trending</span>
                                            <ul class="list">
                                                <li data-value="high" class="option selected">Trending</li>
                                                <li data-value="low" class="option">Newest</li>
                                                <li data-value="New" class="option">Popular</li>
                                                <li data-value="Old" class="option">Used</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <a href="car-grid.html" class="btn-icon active" data-tooltip="tooltip"
                                       data-bs-placement="top" aria-label="Grid View"
                                       data-bs-original-title="Grid View">
                                        <i class="fas fa-th-large"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="car-list.html" class="btn-icon" data-tooltip="tooltip"
                                       data-bs-placement="top" aria-label="List View"
                                       data-bs-original-title="List View">
                                        <i class="fas fa-th-list"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {% if buses %}

                    {% for bus in buses %}
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        <div class="row g-0 product-default product-column border mb-30 align-items-center p-15">
                            <figure class="product-img col-xl-4 col-lg-5 col-md-6 col-sm-12">
                                <a href="car-details.html" target="_self" title="Link"
                                   class="lazy-container ratio ratio-2-3">
                                    <img class=" lazyloaded" src="{{ bus.Image.url }}"
                                         data-src="{% static 'assets/images/product/pro-1.png' %}" alt="Product">
                                </a>
                            </figure>
                            <div class="product-details col-xl-5 col-lg-5 col-md-6 col-sm-12 border-lg-end">
                                <h5 class="product-title mb-10"><a href="car-details.html" target="_self" title="Link"></a>{{bus.name}}</h5>
                                <ul class="product-list-group list-unstyled">
                                    <li><strong>Model :</strong> {{bus.model}}</li>
                                    <li><strong>Capacity :</strong> {{bus.capacity}}</li>
                                    <li><strong>Fare Rates :</strong> {{bus.fare_rates}} Rs</li>
                                </ul>
                            </div>
                            <div class="product-action col-xl-3 col-lg-2 col-md-12 col-sm-12">
                                <a href="{% url 'website:car-details' bus.pk %}" class="btn btn-sm btn-primary" title="View Details">View
                                    Details</a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <p class="alert alert-danger text-center" style="font-size:20px">NO VEHICLE AVAILABLE</p>

                    {% endif %}


                </div>
                <div class="pagination mb-40 justify-content-center aos-init" data-aos="fade-up">
                    <a href="car-grid.html" class="page-numbers radius-0 prev">Prev</a>
                    <span class="page-numbers radius-0 current" aria-current="page">1</span>
                    <a href="car-grid.html" class="page-numbers radius-0">2</a>
                    <a href="car-grid.html" class="page-numbers radius-0">3</a>
                    <a href="car-grid.html" class="page-numbers radius-0">4</a>
                    <a href="car-grid.html" class="page-numbers radius-0 next">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}