{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Contact-Us
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}" style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
        <div class="container">
            <div class="content">
                <h2>Contact Us</h2>
                <ul class="list-unstyled">
                    <li class="d-inline"><a href="{% url 'website:home' %}">Home</a></li>
                    <li class="d-inline">/</li>
                    <li class="d-inline active opacity-75">Contact</li>
                </ul>
            </div>
        </div>
    </div>

{#----------Steps Area------------#}
<div class="contact-area pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-30 color-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon">
                            <i class="fal fa-phone-plus"></i>
                        </div>
                        <div class="card-text font-weight-bold">
                            <p><a href="tel:{{ app.contact_phone1 }}"><strong>{{app.contact_phone1}}</strong></a></p>
                            <p><a href="tel:{{ app.contact_phone2 }}"><strong>{{app.contact_phone2}}</strong></a>
                        </p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-30 color-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="card-text">
                            <p><a href="mailTo:{{app.contact_email1}}"><strong>{{app.contact_email1}}</strong></a></p>
                            <p><a href="mailTo:{{app.contact_email2}}"><strong>{{app.contact_email2}}</strong></a>
                        </p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-30 color-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="card-text">
                            <p><strong>{{app.address}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-70"></div>
        </div>
    </div>


{% endblock %}