{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Terms&Condition
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}" style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
        <div class="container">
            <div class="content">
                <h2>Terms & Conditions</h2>
                <ul class="list-unstyled">
                    <li class="d-inline"><a href="index.html">Home</a></li>
                    <li class="d-inline">/</li>
                    <li class="d-inline active opacity-75">Terms & Conditions</li>
                </ul>
            </div>
        </div>
    </div>

{#----------Steps Area------------#}
<section class="terms-condition-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 m-auto">
                    <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                        <h4>1. Information Collection</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>

                    <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                        <h4>2. General Information</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

                        <ul>
                            <li>It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                            <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                            <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
                            <li>Various versions have evolved over the years, sometimes by accident sometimes.</li>
                        </ul>
                    </div>

                    <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                        <h4>3. Personal Information</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                    </div>

                    <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                        <h4>3. Protecting The Personal Product</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>

                    <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                        <h4>4. Who Has Access To Personal Product</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}