{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Terms&Condition
{% endblock %}
{% block content %}

{#----------Main Banner------------#}
<div class="page-title-area pb-100 bg-img bg-s-cover" data-bg-image="{% static 'assets/images/page-title-bg-4.jpg' %}"
     style="background-image: url(&quot;assets/images/page-title-bg-4.jpg&quot;); background-position: center center; display: block;">
    <div class="container">
        <div class="content">
            <h2>Terms & Conditions</h2>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index.html">Home</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active opacity-75">Terms & Conditions</li>
            </ul>
        </div>
    </div>
</div>

{#----------Steps Area------------#}
<section class="terms-condition-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 m-auto">
                <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                    <h4>1. Information Collection</h4>
                    <p><strong>Consent for Collection:</strong>By using our system, you consent to the collection of necessary
                        information required for providing our services. This includes, but is not limited to, user
                        account details, preferences, and transaction history.
                        <br>
                        <strong>Automated Information:</strong>: We may collect certain information automatically, such as IP addresses,
                        device information, and browsing history, to enhance system functionality, security, and user
                        experience.

                        Cookies and Tracking: Our system may use cookies and similar tracking technologies to improve
                        user experience and provide personalized content. Users can manage cookie preferences through
                        browser settings.</p>
                </div>

                <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                    <h4>2. General Information</h4>
                    <p>Security Measures: We implement robust security measures to protect user data and ensure
                        confidentiality. However, users are responsible for maintaining the security of their login
                        credentials and account information.

                        System Updates: Users are encouraged to keep their system and app versions up-to-date to benefit
                        from the latest features, security patches, and improvements.</p>
                </div>

                <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                    <h4>3. Personal Information</h4>
                    <p>Accuracy of Information: Users are responsible for providing accurate and up-to-date personal
                        information. Any changes or updates should be promptly reflected in the user account settings.

                        Limited Sharing: Personal information provided to us will not be shared with third parties
                        without explicit consent, except as required by law or for essential service functions.</p>
                </div>

                <div class="item-single mb-30 aos-init aos-animate" data-aos="fade-up">
                    <h4>3. Protecting The Personal Product</h4>
                    <p>Encryption and Security: We employ encryption protocols to protect personal and sensitive
                        information. Users are advised to use secure and unique passwords and report any unauthorized
                        access promptly.

                        Data Retention: Personal data will be retained for the duration necessary to fulfill the
                        purposes outlined in our Privacy Policy. Users can request data deletion through the account
                        settings or customer support.</p>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}